{% extends "aardvark/views/templates/base.html" %}
{% block content %}

<h2><a href="{{servlet-context}}/declaration/list?type=conversion&render=true">
        <img src="/img/back.png" width="30"/></a>
    Conversion{% if declaration.id %} {{declaration.name}}
    {% endif %}</h2>
<div class="jumbotron">
    <table border="0">
        <tr valign="top"><td width="50%">
            <form action="{{servlet-context}}/declaration/put" method="POST">
                <input type="hidden" name="type" value="conversion"/>
                <input type="hidden" name="id" value="{{declaration.id}}"/>
                <input type="hidden" name="roles" value="{{declaration.roles}}"/>
                <table border="0" class="declaration">
                    <tr><td><span class="label">Name</span></td>
                        <td><span class="value">
                            <input type="text" name="name" value="{{declaration.name}}" style="width:100%;"/>
                            </span></td></tr>
                    <tr><td><span class="label">Description</span></td>
                        <td><span class="value">
                            <textarea name="description" rows="4" cols="30">{{declaration.description}}</textarea>
                            </span>
                        </td></tr>
                    <tr><td><span class="label">Source Datastore</span></td>
                        <td><span class="value">
                            <select name="source_datastore" style="width:100%;">
                                <option/>
                                {% for ds in datastores %}
                                <option value="{{ds.id}}" {% ifequal ds.id declaration.source_datastore %}selected="selected"{% endifequal %}>{{ds.name}}</option>
                                {% endfor %}
                            </select>
                            </span>
                        </td></tr>
                    <tr><td><span class="label">Target Datastore</span></td>
                        <td><span class="value">
                            <select name="target_datastore" style="width:100%;">
                                <option/>
                                {% for ds in datastores %}
                                <option value="{{ds.id}}" {% ifequal ds.id declaration.target_datastore %}selected="selected"{% endifequal %}>{{ds.name}}</option>
                                {% endfor %}
                            </select>
                            </span>
                        </td></tr>
                    <tr>
                    <td><a href="{{servlet-context}}/declaration/remove?type=conversion&id={{declaration.id}}">
                        <img src="/img/remove-icon.png" width="25"/></a></td>
                    <td><input type="image" src="/img/save-icon.png" width="25" value="save"/></td>
                    </tr>
                    <tr><td colspan="2"><a href="{{servlet-context}}/connector/conflict-report?id={{declaration.id}}">
                        Detect Conflicts
                        <img src="/img/search-icon.png" width="35"/></a></td></tr>
                </table>
            </form>
            </td>
            <td style="padding-left: 10px" width="50%">
                <table border="0" class="declaration-list">
                    <tr><th width="100">Roles</th><th></th></tr>
                    {% for cr in declaration.roles|splitc %}
                    {% for role in roles %}
                    {% ifequal role.id cr %}
                    <tr><td>{{role.entityname}}.{{role.name}}<td><td>
                        <a href="{{servlet-context}}/conversion/removerole?id={{declaration.id}}&role={{role.id}}">
                            <img src="/img/remove-icon.png" width="25"/></a></td></tr>
                    {% endifequal %}
                    {% endfor %}
                    {% endfor %}

                    <form method="POST" action="{{servlet-context}}/conversion/addrole">
                        <input type="hidden" name="id" value="{{declaration.id}}"/>
                        <tr><td><select name="role">
                            <option/>
                            {% for role in roles %}
                            <option value="{{role.id}}">{{role.entityname}}.{{role.name}}</option>
                            {% endfor %}
                            </select>
                            </td>

                            <td><input type="image" src="/img/add-icon.png" width="20"/></input></td></tr>
                    </form>

                </table>
            </td></tr>
    </table>
</div>

{% endblock %}
